name: Go

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.0.2
      - name: Test
        run: make test
      - name: Run tests with coverage
        run: |
          go test -v -race -covermode atomic -coverprofile=covprofile ./...
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: covprofile
